{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-12 text-center mt-5 mx-auto" style="max-width: 700px;">
    <h1>About Kite</h1>
    <img src="{% static 'images/kite_about.png' %}" alt="Kite during concert" class="size-image img-fluid mt-3 mb-3"
        style="max-width: 400px;">
    <p>
        Kite are a Swedish synth-pop group composed of Nicklas Stenemo (The Mo, Melody Club) and Christian Berg (Yvonne,
        Strip Music, The April Tears). Originating from Malmö and now based in Stockholm, they are signed to Astronaut
        Recordings and have published six EPs and three full-length albums since their debut in 2008, each of which was
        released on CD and as a limited vinyl record edition. They have performed at festivals and also had some bigger
        concerts in Sweden and the nordic countries, Germany, USA, United Kingdom and China. The band has been described
        as a "modern version of the 1980s synth pop" and has been compared to the sound of Kraftwerk, Yazoo, and OMD.
    </p>
    <h4>Reception</h4>
    <p>
        Their eponymous debut EP Kite was reviewed favorably by the Side-Line magazine comparing it to classic 1980s
        synth-pop acts such as Erasure or Yazoo, while the German Sonic Seducer noted singer Stenemo's distinctive voice. 
        The EP Kite III was lauded for its original sound by Side-Line and Sonic Seducer, the latter marking a darker tone
        in this release.
        The release Kite IV has been seen as a mix of classic 1980s synth-pop similar to OMD and modern, experimental
        sounds. Kite's sixth EP VI was released in 2015. It has been compared to the sound of Kraftwerk and Vangelis.<br>
        The band has received positive reviews from music critics. The Swedish newspaper Sydsvenskan wrote that the band
        "has a sound that is both modern and nostalgic, with catchy melodies and thoughtful lyrics." The newspaper also
        praised the band's live performances, calling them "energetic and engaging." The Swedish music magazine Sonic
        wrote that the band's music is "a perfect blend of retro and contemporary sounds, with a unique style that sets
        them apart from other synth-pop bands." The magazine also praised the band's songwriting, calling it "clever and
        insightful." Overall, Kite has been well-received by critics and fans alike, with many praising their unique
        sound and engaging live performances.
    </p>
    <p>
        Since their inception in 2008, Kite has chosen to release an EP each year rather than traditional albums and
        singles.
        This has resulted in the band remaining somewhat in the shadows of radio and the media. Mainstream media rarely
        reviews
        anything other than full-length albums, while radio stations—both commercial and public—prefer singles that fit
        standard
        formats.
        It also led to that the band for a long time was extremely under-rated by many  people. However, they have since
        2020
        released three full-length albums, which has led to a wider recognition of the band and their music.<br>
        And especially since the band has made a few spectacular live performances, such as the concert at the Royal
        Opera House in 2019 and recently "Kite on Ice" in 2025, which both was fast sold out. Kite on ice was also broadcasted on
        Swedish national television, the band has gained a wider recognition and a growing fan base.<br>
    </p>
    <h4>Something about their sound</h4>
    <img src="{% static 'images/roland_juno-60.png' %}" alt="The Roland Juno-60 synthesizer" class="img-fluid mt-3 mb-3" style="max-width: 300px;">
    <p>
        The band members of Kite are known for their use of vintage synthesizers, which they use to create their unique
        sound. They have a collection of synthesizers, including the Roland Juno-60, the Korg MS-20, the russian Polivoks and
        the Moog Minimoog. They also use a variety of effects pedals and other equipment to shape their sound.
        The band's music is characterized by its use of catchy melodies, driving rhythms, and lush synthesizer textures.
        They often incorporate elements of 1980s synth-pop, new wave, and electronic music into their songs, creating a sound that
        is both nostalgic and contemporary. Their music often features prominent synthesizer leads, arpeggiated basslines, and
        atmospheric pads, which contribute to the overall dreamy and ethereal quality of their sound.
    </p>
    <img src="{% static 'images/polivoks.png' %}" alt="The russian Polivoks synthesizer" class="img-fluid mt-3 mb-3" style="max-width: 300px;">
    <h4>Last, but not least, the discography</h4>
</div>

<div class="col-12 mx-auto" style="max-width: 400px;">

    <div class="text-center">
        <strong>EPs:</strong>
    </div>

    <ul class="kite-list">
        <li>
            <span class="kite-title">Kite (2008)</span>
            <img src="{% static 'images/kite1.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kite1Modal">
        </li>

        <li>
            <span class="kite-title">Kite II (2009)</span>
            <img src="{% static 'images/kite2.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kite2Modal">
        </li>

        <li>
            <span class="kite-title">Kite III (2010)</span>
            <img src="{% static 'images/kite3.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kite3Modal">
        </li>

        <li>
            <span class="kite-title">Kite IV (2011)</span>
            <img src="{% static 'images/kite4.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kite4Modal">
        </li>

        <li>
            <span class="kite-title">Kite V (2012)</span>
            <img src="{% static 'images/kite5.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kite5Modal">
        </li>

        <li>
            <span class="kite-title">Kite VI (2015)</span>
            <img src="{% static 'images/kite6.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kite6Modal">
        </li>
    </ul>

    <div class="text-center">
        <strong>Albums:</strong>
    </div>

    <ul class="kite-list">
        <li>
            <span class="kite-title">Kite at the Royal Opera (2020)</span>
            <img src="{% static 'images/kite_at_the_royal_opera_2020.png' %}" class="kite-thumb"
                data-bs-toggle="modal" data-bs-target="#kiteOperaModal">
        </li>

        <li>
            <span class="kite-title">Kite VII (2024)</span>
            <img src="{% static 'images/kite7.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kite7Modal">
        </li>

        <li>
            <span class="kite-title">Kite on Ice (2025)</span>
            <img src="{% static 'images/kite_on_ice_2025.png' %}" class="kite-thumb" data-bs-toggle="modal"
                data-bs-target="#kiteIceModal">
        </li>
    </ul>

    <!-- Modals for EPs -->

    <div class="modal fade" id="kite1Modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite1.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kite2Modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite2.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kite3Modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite3.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kite4Modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite4.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kite5Modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite5.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kite6Modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite6.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- Modals for Albums -->

    <div class="modal fade" id="kiteOperaModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite_at_the_royal_opera_2020.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kite7Modal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite7.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kiteIceModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-body text-center">
                    <img src="{% static 'images/kite_on_ice_2025.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}