{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="text-center">
    <h1>Kite Gallery</h1>
</div>

<div class="container text-center my-4">
    <div class="row g-3">

        <!-- 1 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery01.png' %}" alt="Kite on Ice performance" class="img-fluid gallery-thumb" data-index="0"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 2 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery02.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="1"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 3 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery03.png' %}" alt="Kite on Ice performance" class="img-fluid gallery-thumb" data-index="2"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 4 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery04.png' %}" alt="Kite on Ice performance" class="img-fluid gallery-thumb" data-index="3"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 5 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery05.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="4"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 6 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery06.png' %}" alt="Kite portrait" class="img-fluid gallery-thumb" data-index="5"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 7 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery07.png' %}" alt="Kite portrait" class="img-fluid gallery-thumb" data-index="6"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 8 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery08.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="7"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 9 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery09.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="8"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 10 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery10.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="9"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 11 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery11.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="10"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 12 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery12.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="11"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 13 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery13.png' %}" alt="Kite portrait" class="img-fluid gallery-thumb" data-index="12"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 14 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery14.png' %}" alt="Kite portrait" class="img-fluid gallery-thumb" data-index="13"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 15 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery15.png' %}" alt="Kite on Ice performance" class="img-fluid gallery-thumb" data-index="14"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

        <!-- 16 -->
        <div class="col-12 col-md-4 col-lg-3">
            <img src="{% static 'images/kite_gallery16.png' %}" alt="Performance during concert" class="img-fluid gallery-thumb" data-index="15"
            data-bs-toggle="modal" data-bs-target="#galleryModal">
        </div>

    </div>
</div>

<div class="modal fade" id="galleryModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-body text-center">

                <img id="modalImage" alt="Modal Image" src="{% static 'images/placeholder.png' %}" class="img-fluid">

                <div class="mt-3">
                    <button id="prevBtn" class="btn btn-light me-2">Prev</button>
                    <button id="nextBtn" class="btn btn-light">Next</button>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}