{% extends "base.html" %}
{% load static %}

{% block content %}


    <div  class="col-12 text-center mt-5">
        <h1>KITE</h1>
        <img src="{% static 'images/kite_front.png' %}" alt="The members of Kite" class="img-fluid mt-3 mb-3" style="max-width: 300px;">
        <p>
            If you like synth-pop music, you will love Kite.<br>
            I accidentally discovered this band when their concert "Kite on Ice" was broadcasted on Swedish national
            television in 2025. I was immediately captivated by their unique sound and mesmerizing performances. Since then,
            I've been a devoted listener, eagerly following their music releases. Kite's music has a way of transporting
            me to another world, filled with emotion and energy. I highly recommend checking out Kite for yourself.<br>
            On this website, you can get information about Kite, view their gallery, and even purchase their merchandise.
        </p><img src="{% static 'images/roland_juno-60.png' %}" alt="The Roland Juno-60 synthesizer" class="img-fluid mt-3 mb-3" style="max-width: 500px;">
        
        <p>
            The band members of Kite are known for their use of vintage synthesizers, here is one of them, the Roland Juno-60.
    </div>


{% endblock %}